<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.lab.mapper.ArticleENMapper">
    
    <resultMap type="ArticleEN" id="ArticleENResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="desc"    column="`desc`"    />
        <result property="content"    column="content"    />
    </resultMap>

    <sql id="selectArticleENVo">
        select id, title, `desc`, content from articleEN
    </sql>

    <select id="selectArticleENList" parameterType="ArticleEN" resultMap="ArticleENResult">
        <include refid="selectArticleENVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="desc != null  and desc != ''"> and `desc` = #{desc}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectArticleENById" parameterType="Long" resultMap="ArticleENResult">
        <include refid="selectArticleENVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertArticleEN" parameterType="ArticleEN" useGeneratedKeys="true" keyProperty="id">
        insert into articleEN
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="desc != null">`desc`,</if>
            <if test="content != null">content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="desc != null">#{desc},</if>
            <if test="content != null">#{content},</if>
         </trim>
    </insert>

    <update id="updateArticleEN" parameterType="ArticleEN">
        update articleEN
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="desc != null">`desc` = #{desc},</if>
            <if test="content != null">content = #{content},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteArticleENById" parameterType="Long">
        delete from articleEN where id = #{id}
    </delete>

    <delete id="deleteArticleENByIds" parameterType="String">
        delete from articleEN where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>