<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.lab.mapper.ConcatUSMapper">
    
    <resultMap type="ConcatUS" id="ConcatUSResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
        <result property="address"    column="address"    />
        <result property="opinion"    column="opinion"    />
    </resultMap>

    <sql id="selectConcatUSVo">
        select id, name, phone, email, address, opinion from concatUS
    </sql>

    <select id="selectConcatUSList" parameterType="ConcatUS" resultMap="ConcatUSResult">
        <include refid="selectConcatUSVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="opinion != null  and opinion != ''"> and opinion = #{opinion}</if>
        </where>
    </select>
    
    <select id="selectConcatUSById" parameterType="Long" resultMap="ConcatUSResult">
        <include refid="selectConcatUSVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertConcatUS" parameterType="ConcatUS" useGeneratedKeys="true" keyProperty="id">
        insert into concatUS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="address != null">address,</if>
            <if test="opinion != null">opinion,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="address != null">#{address},</if>
            <if test="opinion != null">#{opinion},</if>
         </trim>
    </insert>

    <update id="updateConcatUS" parameterType="ConcatUS">
        update concatUS
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="address != null">address = #{address},</if>
            <if test="opinion != null">opinion = #{opinion},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteConcatUSById" parameterType="Long">
        delete from concatUS where id = #{id}
    </delete>

    <delete id="deleteConcatUSByIds" parameterType="String">
        delete from concatUS where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>